.wrapper {
    margin: 0 auto;
    max-width: 400px;
    background: rgb(235, 235, 235);
    padding: 30px 40px 10px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, .04);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .04);
    position: absolute;
	top: 50%;
	left: 50%;
    width: 50%;
	transform: translate(-50%, -50%);
}

.logo {
    height: 130px;
    margin-bottom: 10px;
}

.body {
    width: 100%;
    max-width: 330px;
    margin: auto;
    padding: 15px;
    text-align: center;
}

.form-floating {
    text-align: start;
}

.errorLabel {
    margin-left: 5px;
}


.tp-margin {
    margin: 0 10px;
 }
